<!--------------
Name         : LCBS_Thermostats2
Created By   : Chiranjeevi Gogulakonda
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->

<apex:page showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
  <apex:pageMessages />
  <style type="text/css">
    body {
      font-family: Oxygen;
    }
    .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .btn {
      display: inline-block;
      padding: 6px 12px;
      width:100%;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      background-image: none;
      border: 1px solid transparent;
    }
    a {
      color: #337ab7;
      text-decoration: none;
    }
  </style>
  <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
    <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
    <script>
      j$ = jQuery.noConflict();
      j$(document).ready( function () {
        j$('.dropdown-toggle').dropdown();
        var contactTable = j$('[id$="contacttable"]').DataTable({
          order: [[0, 'asc']],
          aoColumns : [
            null,
            null,
            null,
            null,
            null,
            {
              "bSortable": false }
            ,
            {
              "bSortable": false }
            
          ],
          initComplete: function() {
            var api = this.api();
            var select = j$('[id$=accountSelect]');
            api.column(0).data().unique().sort().each( function ( d, j ) {
              select.append( '<option value="'+d+'">'+d+'</option>' )
            }
                                                     );
            
          }
        }
                                                               );
        
        //j$('[id$=accountSelect]').change(function() {
        //  var val = j$.fn.dataTable.util.escapeRegex(
        //    j$(this).val()
        //);
        //contactTable.column(0)
        //  .search( val == 'All' ? '' : '^'+val+'$', true, false )
        //  .draw();
        //});
      }
                        );
    </script>
    <apex:form >
      <html>
        <head>
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <meta name="description" content="" />
          <meta name="author" content="" />
          <title>
            Honeywell LCBS Contractor Portal
          </title>
          <!-- Bootstrap core CSS -->
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
          <script src="js/ie-emulation-modes-warning.js">
          </script>
          
        </head>
        
        <body>
          
          <apex:actionFunction name="newBuildingOwner" action="{!newBuildingOwner}"/>
      
            
               <c:LCBSCommunityHeader />
            
            <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
              <h1>
                Thermostats
              </h1>
            </div>
            <br/>
               <div class="container">

<!-- Row 1 of thermostats -->
<div class="row">

<div class="col-md-4 col-sm-6">
<div class="panel panel-default">
<div class="panel-body">

<h3>Kitchen <button type="button" class="btn btn-danger btn-sm pull-right"  style="background:#CC3333 ;height:30px;width:30%;text-align:center;color:white;border-radius:1px;" >Alerts (1)</button></h3>
      <br/>                  
                        
<h4>Temperature: 72&deg;</h4>
<hr>

<div class="row">

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Set point: 72&deg;</p>
<p>Mode: Cooling</p>
</div>

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Status: Occupied</p>
<p>Humidity: 65%</p>
</div>
</div>

<button type="button" class="btn btn-default btn-xs pull-right"  style="width:30%;text-align:center;" >More</button>
</hr>
</div>
</div>
</div>


<div class="col-md-4 col-sm-6">
<div class="panel panel-default">
<div class="panel-body">
<h3>Storage room<button type="button" class="btn btn-danger btn-sm pull-right"  style="background:#CC3333 ;height:30px;width:30%;text-align:center;color:white;border-radius:1px;" >Alerts (1)</button></h3>
      <br/>   
<h4>Temperature: 71&deg;</h4>
<hr>

<div class="row">

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Set point: 72&deg;</p>
<p>Mode: Cooling</p>
</div>

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Status: Occupied</p>
<p>Humidity: 65%</p>
</div>
</div>

<button type="button" class="btn btn-default btn-xs pull-right"  style="width:30%;text-align:center;" >More</button>
</hr>
</div>
</div>
</div>


<div class="col-md-4 col-sm-6">
<div class="panel panel-default">
<div class="panel-body">
<h3>Front office&nbsp;<button type="button" class="btn btn-danger btn-sm pull-right"  style="background:#CC3333 ;height:30px;width:30%;text-align:center;color:white;border-radius:1px;" >Alerts (1)</button></h3>
      <br/>  
<h4>Temperature: 80&deg;</h4>
<hr>

<div class="row">

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Set point: 72&deg;</p>
<p>Mode: Cooling</p>
</div>

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Status: Occupied</p>
<p>Humidity: 65%</p>
</div>
</div>

<button type="button" class="btn btn-default btn-xs pull-right"  style="width:30%;text-align:center;" >More</button>
</hr>
</div>
</div>
</div>




<!-- Row 2 of thermostats -->


<div class="col-md-4 col-sm-6">
<div class="panel panel-default">
<div class="panel-body">
<h3>Conference room <button type="button" class="btn btn-danger btn-sm pull-right"  style="background:#CC3333 ;height:30px;width:30%;text-align:center;color:white;border-radius:1px;" >Alerts (1)</button></h3>
      <br/>  
<h4>Temperature: 68&deg;</h4>
<hr>

<div class="row">

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Set point: 72&deg;</p>
<p>Mode: Cooling</p>
</div>

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Status: Occupied</p>
<p>Humidity: 65%</p>
</div>
</div>

<button type="button" class="btn btn-default btn-xs pull-right"  style="width:30%;text-align:center;" >More</button>
</hr>
</div>
</div>
</div>


<div class="col-md-4 col-sm-6">
<div class="panel panel-default">
<div class="panel-body">
<h3>Office 1 <button type="button" class="btn btn-danger btn-sm pull-right"  style="background:#CC3333 ;height:30px;width:30%;text-align:center;color:white;border-radius:1px;" >Alerts (1)</button></h3>
      <br/>  
<h4>Temperature: 72&deg;</h4>
<hr>

<div class="row">

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Set point: 72&deg;</p>
<p>Mode: Cooling</p>
</div>

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Status: Occupied</p>
<p>Humidity: 65%</p>
</div>
</div>

<button type="button" class="btn btn-default btn-xs pull-right"  style="width:30%;text-align:center;" >More</button>
</hr>
</div>
</div>
</div>


<div class="col-md-4 col-sm-6">
<div class="panel panel-default">
<div class="panel-body">
<h3>Office 2<button type="button" class="btn btn-danger btn-sm pull-right"  style="background:#CC3333 ;height:30px;width:30%;text-align:center;color:white;border-radius:1px;" >Alerts (1)</button></h3>
      <br/>  
<h4>Temperature: 71&deg;</h4>
<hr>

<div class="row">

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Set point: 72&deg;</p>
<p>Mode: Cooling</p>
</div>

<div class="col-md-6 col-sm-6 col-xs-6">
<p>Status: Occupied</p>
<p>Humidity: 65%</p>
</div>
</div>

<button type="button" class="btn btn-default btn-xs pull-right"  style="width:30%;text-align:center;" >More</button>

</hr>
</div>
</div>
</div>


</div>



     

    </div>
            
              
              
              
              
              
            
            <!-- /.container -->
            <!-- Bootstrap core JavaScript
================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
            </script>
            <script src="js/bootstrap.min.js">
            </script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="js/ie10-viewport-bug-workaround.js">
            </script>
            
        </body>
      </html>
      
    </apex:form>
  </apex:page>